<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
  <!-- PUT DOC STYLES HERE -->
  <link rel="stylesheet" href="recipes.css">
    <title>TITLE</title>
</head>
<body class="c8 doc-content" id="top">
  <p class="back-button"><a href="../index.html">Back to home</a></p>

  <div class="title">
    <h1 class="c2 display">TITLE</h1>
    <p>AUTHORS</p>
  </div>
  <div class="display">
    <!-- PUT BODY CONTENT HERE -->
  </div>
  <p style="margin-top: 20px;" class="back-button"><a href="../index.html">Back to home</a></p>
</body>
</html>