h1 {
    font-family: Oswald, sans-serif;
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.display {
    max-width: 600px;
    padding: 20px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    background-color: #ecf0f1;
    margin: auto auto 30px;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}
.back-button {
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding: 10px;
    font-size: 14px;
    color: #777;

}

.book {
    display: block;
    margin: 0 auto;
    width: 25%;
    height: auto;
}