h1 {
    font-family: 'Oswald';
    color: #2c3e50;
    text-align: center;
    margin-top: 20px;
}

h2 {
    text-align: center;
}

.display {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 2px solid #2c3e50;
    border-radius: 10px;
    background-color: #ecf0f1;
}

body {
    background-color: #f5f5f5;
    font-family: Arial, sans-serif;
}
.back-button {
    margin-top: 20px;
    text-align: center;
    font-family: sans-serif;
}